{{#> layout}}
<h1>About</h1>
<h2>Volunteers making an impact.</h2>
<p>Our organization is dedicated to making a positive impact in the
    community
    through various volunteer activities. Our mission is to efficiently
    connect
    volunteers with events and tasks that align with their skills,
    preferences,
    and availability, ensuring that every volunteer experience is meaningful
    and
    impactful.</p>
<h3>Our Mission</h3>
<p>Our mission is to empower volunteers by providing them with opportunities
    to
    contribute to the community in ways that match their unique skills and
    interests. We strive to make volunteering a rewarding experience for
    everyone involved, fostering a sense of community and shared
    purpose.</p>
<h3>What We Do</h3>
<p>We facilitate the connection between volunteers and community events by
    considering various criteria such as:</p>
<ul>
    <li><strong>Location:</strong> Matching volunteers to events near them
        to
        ensure convenience and accessibility.</li>
    <li><strong>Skills and Preferences:</strong> Ensuring volunteers are
        assigned to tasks that utilize their strengths and interests.</li>
    <li><strong>Availability:</strong> Scheduling volunteers based on their
        availability to maximize participation.</li>
    <li><strong>Event Requirements:</strong> Aligning volunteer skills with
        the
        specific needs of each event to ensure effectiveness.</li>
    <li><strong>Task Urgency and Priority:</strong> Prioritizing tasks and
        events based on urgency to ensure timely assistance where it's most
        needed.</li>
</ul>
{{/layout}}
