{{#> layout}}
{{!-- <h1>Index</h1> --}}
{{!-- <div class="under-construction">
  <h2>Site Under Construction</h2>
  <p>We're working hard to bring you the best experience. Our site is currently
    under construction, but we are excited to share our progress with you soon.
    Please check back later for updates!</p>
</div> --}}


<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Volunteers making an impact. <span class="text-body-secondary">Ready to make a difference?</span></h2>
      <p class="lead">Join our network of volunteers and make a tangible impact in your local community. Every action counts, and together we can achieve more.</p>
    </div>
    <div class="col-md-5">
      <img src="/public/img/img_1.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="volunteer">
    </div>
  </div>
</div>
    
{{/layout}}