{{#> layout}}
  <title>Notifications</title>
  <link rel="stylesheet" href="/public/css/volunteer_history.css">
  <link rel="stylesheet" href="/public/css/pagination.css">
  <script src="/public/js/notifications.js"></script>
  
  <div class="table-container">
      <h3>Notifications</h3>
      <table id="notificationTable" class="table table-striped">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Message</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody id="notificationList">
              <!-- Notifications will be populated here -->
          </tbody>
      </table>
  </div>

{{/layout}}
