{{#> layout}}
  <title>Volunteer Report</title>
  <link rel="stylesheet" href="/public/css/volunteer_history.css">
  <link rel="stylesheet" href="/public/css/pagination.css">
  <script src="/public/js/pagination.js"></script>
  <script src="/public/js/report.js"></script>

  <div class="table-container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Volunteer Report</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
    </div>

  <div class="table-container">
      <table id="volunteerReportTable" class="table table-striped table-sm">
          <thead>
              <tr>
                <th>Volunteer</th>
                <th>Event Name</th>
                <th>Description</th>
                <th>Required Skills</th>
                <th>Location</th>
                <th>Urgency</th>
                <th>Date</th>
                <th>Participation Status</th>
              </tr>
          </thead>
          <tbody id="volunteerReportList">
              <!-- Volunteer report will be populated here -->
          </tbody>
      </table>
      <div id="pagination" class="pagination"></div>
  </div>
  
{{/layout}}
