{{#> layout}}
  <title>Volunteer Search</title>
  <link rel="stylesheet" href="/public/css/volunteer_search.css">
  <link rel="stylesheet" href="/public/css/pagination.css">
  <script src="/public/js/pagination.js"></script>
  <script src="/public/js/volunteer_search.js"></script>

  <div class="table-container">
      <h3>Volunteer List</h3>
      <table id="volunteerTable" class="table table-striped">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Skills</th>
                  <th>Availability</th>
                  <th>Preferences</th>
              </tr>
          </thead>
          <tbody id="volunteersList">
            <!-- Volunteers will be populated here -->
          </tbody>
      </table>
      <div id="pagination" class="pagination"></div>
  </div>
{{/layout}}
