{{#> layout}}
  <title>Volunteer History and Login Page</title>
  <link rel="stylesheet" href="/public/css/volunteer_history.css">
  <link rel="stylesheet" href="/public/css/pagination.css">
  <script src="/public/js/pagination.js"></script>
  <script src="/public/js/history.js"></script>
  
  <div class="table-container">
      <h3>Volunteer History</h3>
      <table id="volunteerTable" class="table table-striped">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>User ID</th>
                  <th>Event ID</th>
                  <th>Participation Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody id="historyList">
              <!-- Volunteer history will be populated here -->
          </tbody>
      </table>
      <div id="pagination" class="pagination"></div>
  </div>
{{/layout}}
