<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Matching</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/public/js/volunteer_matching.js"></script>
</head>
<body>
    <div class="form-container">
        <h1>Volunteer Matching</h1>

        <form id="volunteerForm">
            <div class="col-12">
                <label for="event" class="form-label">Select Event</label>
                <select id="event" class="form-select" name="event" onchange="onEventChange(this)" required>
                    <option value="">Choose Event...</option>
                    <!-- Options will be dynamically populated -->
                </select>
            </div>
            <div class="col-12">
                <label for="requiredSkills" class="form-label">Required Skills</label>
                <select id="requiredSkills" class="form-select" name="requiredSkills" multiple required>
                    <option value="">Choose Skill...</option>
                    <!-- Options will be dynamically populated -->
                </select>
            </div>
            <div class="col-12" id="volunteer-matching-container" class="d-none">
                <label for="volunteerName" class="form-label">Matching Volunteers</label>
                <select id="volunteerName" class="form-select" name="volunteerName" multiple required>
                    <option value="">Choose Volunteer...</option>
                    <!-- Options will be dynamically populated -->
                </select>
            </div>
            <div class="buttons">
                <button class="btn btn-primary w-50 py-2 my-3 rounded-pill" type="submit">Save Match</button>
            </div>
        </form>

    </div>
</body>
</html>
