body {
    font-family: 'Inter', sans-serif !important;
}

/* Containers */
.container-fluid.bg-primary {
    background-color: #EEEEEE !important;
}
.container-fluid.bg-light {
    background-color: #EEEEEE !important;
}
.container-fluid.bg-black {
    background-color: #000000 !important;
}

/* Footer */
footer div h5 {
    color: #ffffff;
}
footer div p {
    color: #e9e9e9;
}
footer div ul li a {
    color: #c4bcbc !important;
}

/* Navigation */
.nav-link:hover {
    color: #007bff !important;
}

/* Main */
h1 {
    color: #000000 !important;;
}

/* Social Icons */
.social-icon {
    margin-left: 10px;
    color: hsla(0, 0%, 100%, .8);
    text-decoration: none;
    display: inline-block;
}

.social-icon:hover {
    color: #007bff !important;
    transform: scale(1.2);
}

.social-icon svg {
    width: 25px;
    height: 25px;
}

/* Help */
.help-section {
    margin-bottom: 30px;
}

.help-section h2 {
    color: #007bff;
    margin-bottom: 15px;
}

.help-section ol,
.help-section ul {
    margin-left: 20px;
}

.help-section .faq h3 {
    color: #343a40;
    margin-top: 20px;
}

.help-section .faq p {
    color: #5a5959;
    margin-bottom: 15px;
}

.help-section ul li a {
    color: #007bff;
    text-decoration: none;
}

.help-section ul li a:hover {
    text-decoration: underline;
}

.under-construction {
    border: 2px dashed #ffcc00;
    padding: 20px;
    margin: 20px 0;
    background-color: #fffbea;
    text-align: center;
    border-radius: 5px;
}

.under-construction h2 {
    color: #d9534f;
    margin-bottom: 10px;
}

.under-construction p {
    color: #666;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-height: 525px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.register-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    min-height: 525px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75vw;
    min-height: 525px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Inputs */

/* .input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group select[multiple] {
    height: auto;
    min-height: 100px;
} */

/* Notification */
.notification {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.notification svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.notification svg:hover {
    color: #FF6969;
    transform: scale(1.1);
}